<!-- <ul>
  <li *ngFor='let linija of (linijaMedjugradska$ | async)'>
    {{linija.prevoznik.naziv}} {{linija.polazak}}
    <div *ngFor='let medjulinija of linija.medjulinije'>
       {{medjulinija.polaziste.naziv}} - {{medjulinija.odrediste.naziv}}
    </div>
  </li>
</ul> -->

<table class="table table-hover">
  <caption>Medjugradske linije</caption>
  <thead>
    <tr>
      <th scope="col">Polazak</th>
      <th scope="col">Prevoznik</th>
      <th scope="col">Medjulinije</th>
    </tr>
  </thead>
  <tbody *ngFor='let linija of (linijaMedjugradska$ | async)'>
    <td>{{linija.polazak}}</td>
    <td>{{linija.prevoznik.naziv}}</td>
    <td><div *ngFor='let medjulinija of linija.medjulinije'>{{medjulinija.polaziste.naziv}} - {{medjulinija.odrediste.naziv}}</div></td>
  </tbody>
</table>