<!-- <table mat-table [dataSource]="(linijaMedjugradska$ | async)">

  <ng-container matColumnDef="Prevoznik">
    <th mat-header-cell *matHeaderCellDef> Prevoznik </th>
    <td mat-cell *matCellDef="let linija"> {{linija.prevoznik.naziv}} </td>
  </ng-container>

  <ng-container matColumnDef="Polazak">
    <th mat-header-cell *matHeaderCellDef> Polazak </th>
    <td mat-cell *matCellDef="let linija"> {{linija.polazak}} </td>
  </ng-container>

  <ng-container matColumnDef="Medjulinije">
    <th mat-header-cell *matHeaderCellDef> Medjulinije </th>
    <td mat-cell *matCellDef="let linija"> {{linija.Medjulinije}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

</table>
 -->

<h1>ASDFF</h1>
<ul>
  <li *ngFor='let linija of (linijaMedjugradska$ | async)'>
    {{linija.prevoznik.naziv}} {{linija.polazak}}
    <div *ngFor='let medjulinija of linija.medjulinije'>
       {{medjulinija.polaziste.naziv}} - {{medjulinija.odrediste.naziv}}
    </div>
    <!-- <div *ngFor = 'let medjulinija of {{linija.medjulinija}}'> {{medjulinija}}</div> -->
  </li>
</ul>