<!-- <ul>
  <li *ngFor='let linija of (linijaMedjugradska$ | async)'>
    {{linija.prevoznik.naziv}} {{linija.polazak}}
    <div *ngFor='let medjulinija of linija.medjulinije'>
       {{medjulinija.polaziste.naziv}} - {{medjulinija.odrediste.naziv}}
    </div>
  </li>
</ul> -->

<div class="form-group">
  <label for="polazak-input">Polazak: </label>
  <input type="date" class="form-control" id="polazak-input" [(ngModel)]="pretraga.polazak">
</div>
<div class="form-group">
  <label for="polazak-input">Prevoznik: </label>
  <input type="text" class="form-control" id="polazak-input" [(ngModel)]="pretraga.prevoznik">
</div>
<div class="form-group">
  <label for="polaziste-input">Polaziste: </label>
  <input type="text" class="form-control" id="polaziste-input" [(ngModel)]="pretraga.polaziste">
</div>
<div class="form-group">
  <label for="odrediste-input">Odrediste: </label>
  <input type="text" class="form-control" id="odrediste-input" [(ngModel)]="pretraga.odrediste">
</div>
<button type="button" class="btn btn-primary" (click)="trazi()">Pretrazi</button>
<button type="button" class="btn btn-secondary" (click)="restartuj()">Restartuj</button>

<br> <br>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item page-link" *ngFor="let p of pages; let i = index" (click)="paginacija(i)">{{i + 1}}</li>
  </ul>
</nav>

<table class="table table-hover" id="tabela">
  <!-- <caption>Medjugradske linije</caption> -->
  <thead>
    <tr>
      <th scope="col">Polazak</th>
      <th scope="col">Prevoznik</th>
      <th scope="col">Medjulinije</th>
    </tr>
  </thead>
  <tbody *ngFor='let linija of linije'>
    <td>{{linija.polazak}}</td>
    <td>{{linija.prevoznik.naziv}}</td>
    <td>
      <div *ngFor='let medjulinija of linija.medjulinije'>{{medjulinija.polaziste.naziv}} - {{medjulinija.odrediste.naziv}}</div>
    </td>
  </tbody>
</table>

