<table class="table table-hover" id="neodobreni">
  <thead>
    <tr>
      <th scope="col">username</th>
      <th scope="col">Ime</th>
      <th scope="col">Prezime</th>
    </tr>
  </thead>
  <tbody *ngFor='let korisnik of korisnici; let i = index'>
    <tr *ngIf="korisnik">
      <td>{{korisnik.username}}</td>
      <td>{{korisnik.ime}}</td>
      <td>{{korisnik.prezime}}</td>
      <!-- <td>
      <div *ngFor='let medjulinija of linija.medjulinije'>{{medjulinija.polaziste.naziv}} - {{medjulinija.odrediste.naziv}}</div>
      </td> -->
      <td>
        <button type="button" class="btn btn-primary" (click)="odobri(korisnik)">Odobri</button>
      </td>
      <td>
        <button type="button" class="btn btn-secondary" (click)="odbij(korisnik)">Odbij</button>
      </td>
    </tr>
  </tbody>
</table>