<table class="table table-hover" id="tabela_rezervacija">
  <caption>Rezervacije</caption>
  <thead>
    <tr>
      <th scope="col">Polazak</th>
      <th scope="col">Prevoznik</th>
      <th scope="col">Medjulinije</th>
      <th scope="col">Otkazi</th>
    </tr>
  </thead>
  <tbody *ngFor='let rezervacija of rezervacije'>
    <tr *ngIf="rezervacija">
      <td>{{rezervacija.linija.polazak}}</td>
      <td>{{rezervacija.linija.prevoznik.naziv}}</td>
      <td>
        <div *ngFor='let medjulinija of rezervacija.linija.medjulinije'>{{medjulinija.polaziste.naziv}} -
          {{medjulinija.odrediste.naziv}}</div>
      </td>
      <td>
        <button class="btn btn-primary" (click)="otkazi(rezervacija)">Otkazi</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="msg != ''">
  <div *ngIf="greska" class="alert alert-danger">
    {{msg}}
  </div>
  <div *ngIf="!greska" class="alert alert-success">
    {{msg}}
  </div>
</div>