<ngb-tabset>
  <ngb-tab title="Vozac">
    <ng-template ngbTabContent>
      <br>
      <p>
        <app-vozac-forma></app-vozac-forma>
      </p>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Autobus">
    <ng-template ngbTabContent>
      <br>
      <p>
        <app-autobus-forma></app-autobus-forma>
      </p>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Prevoznik">
    <ng-template ngbTabContent>
      <br>
      <p>
        <app-prevoznik-forma></app-prevoznik-forma>
      </p>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Linija">
    <ng-template ngbTabContent>
      <br>
      <p>
        <app-linija-forma></app-linija-forma>
      </p>

    </ng-template>
  </ngb-tab>

</ngb-tabset>

<br>