<form (ngSubmit)="trazi()">

  <div class="form-group">
    <label for="broj_linije">Broj linije</label>
    <input type="text" class="form-control" id="broj_linije" [(ngModel)]="broj_linije" name="broj_linije" placeholder="23">
  </div>

  <div class="form-group">
    <label for="polaziste">Polaziste</label>
    <input type="text" class="form-control" id="polaziste" placeholder="Glavna Posta" [(ngModel)]="polaziste" name="polaziste">
  </div>

  <div class="form-group">
    <label for="odrediste">Odrediste</label>
    <input type="text" class="form-control" id="odrediste" placeholder="27. Mart" [(ngModel)]="odrediste" name="odrediste">
  </div>

  <button type="submit" class="btn btn-primary">Trazi</button>
  <button type="button" class="btn btn-secondary" (click)="restartuj()">Restartuj</button>

</form>




<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item page-link" *ngFor="let p of pages; let i = index" (click)="paginacija(i)">{{i + 1}}</li>
  </ul>
</nav>

<table class="table table-hover" id="tabela">
  <!-- <caption>Medjugradske linije</caption> -->
  <thead>
    <tr>
      <th scope="col">Broj linije</th>
      <th scope="col">Medjulinije</th>
    </tr>
  </thead>
  <tbody *ngFor='let linija of linije'>
    <tr (click)="prikaziTrenutnu(linija)" data-toggle="modal" data-target="#exampleModal">
      <td>{{linija.broj_linije}}</td>
      <td>
        <div *ngFor='let medjulinija of linija.medjulinije'>{{medjulinija.polaziste.naziv}} -
          {{medjulinija.odrediste.naziv}}</div>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detaljnije informacije</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="trenutna">
        <h4>Red Voznje</h4> {{trenutna.red_voznje}}
        <hr>
        <h4>Vozac</h4> {{trenutna.vozac.ime}} {{trenutna.vozac.prezime}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>