<form (ngSubmit)="save()">
  <div class="form-group">
    <label for="prevoznik_naziv">Naziv</label>
    <input type="text" class="form-control" id="prevoznik_naziv" [(ngModel)]="prevoznik.naziv" name="prevoznik_naziv"
      placeholder="Lasta">
  </div>
  <div class="form-group">
    <label for="prevoznik_adresa">Adresa</label>
    <input type="text" class="form-control" id="prevoznik_adresa" placeholder="Kralja Aleksandra 15" [(ngModel)]="prevoznik.adresa"
      name="prevoznik_adresa">
  </div>
  <div class="form-group">
    <label for="prevoznik_telefon">Broj telefona</label>
    <input type="text" class="form-control" id="prevoznik_telefon" [(ngModel)]="prevoznik.telefon" name="prevoznik_telefon" placeholder="065/555-555">
  </div>
  <div class="form-group">
    <label for="prevoznik_slika">Logo</label>
    <input type="file" class="form-control-file" id="prevoznik_slika" [(ngModel)]="prevoznik.slika" name="prevoznik_slika">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<div [hidden]="msg == ''">
  <div [hidden]="!greska" class="alert alert-danger">
    {{msg}}
  </div>
  <div [hidden]="greska" class="alert alert-success">
    {{msg}}
  </div>
</div>
