<form (ngSubmit)="save()">
  <div class="form-group">
    <label for="autobus_marka">Marka</label>
    <input type="text" class="form-control" id="autobus_marka" [(ngModel)]="autobus.marka" name="autobus_marka" placeholder="Mercedes-Benz">
  </div>
  <div class="form-group">
    <label for="autobus_model">Model</label>
    <input type="text" class="form-control" id="autobus_model" placeholder="Q7" [(ngModel)]="autobus.model" name="autobus_model">
  </div>
  <div class="form-group">
    <label for="autobus_broj_sedista">Broj Sedista</label>
    <input type="number" class="form-control" id="autobus_broj_sedista" [(ngModel)]="autobus.broj_sedista" name="autobus_broj_sedista">
  </div>
  <div class="form-group">
    <label for="autobus_slika">Slika</label>
    <input type="file" class="form-control-file" id="autobus_slika" [(ngModel)]="autobus.slike" name="autobus_slika">
  </div>

  TODO ubaci novi step sa slikama, slike ce imati novu formu i jednu po jednu salji ka bazi
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br>

<div [hidden]="msg == ''">
  <div [hidden]="!greska" class="alert alert-danger">
    {{msg}}
  </div>
  <div [hidden]="greska" class="alert alert-success">
    {{msg}}
  </div>
</div>

TODO ubaci provere za polja